/mysql





#BACKEND
/documentation.jsx
/backend/.env
# Logs
logs
*./backend/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/backend/node_modules
/backend/dist
/backend/dist-ssr
*./backend/local

# Editor directories and files
./backend/vscode/*
!./backend/vscode/extensions.json
/backend/.idea
./backend/DS_Store
*./backend/suo
*./backend/ntvs*
*./backend/njsproj
*./backend/sln
*./backend/sw?





#FRONTEND

# Logs
logs
*./frontend/log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
*./frontend/local

# Editor directories and files
./frontend/vscode/*
!./frontend/vscode/extensions.json
/frontend/.idea
./frontend/DS_Store
*./frontend/suo
*./frontend/ntvs*
*./frontend/njsproj
*./frontend/sln
*./frontend/sw?










#ORIGINE LORS DE LA CREATION DU PROJET AVEC VITE DANS FRONTEND ET BACKEND




#logs
#*.log
#npm-debug.log*
#yarn-debug.log*
#yarn-error.log*
#pnpm-debug.log*
#lerna-debug.log*

#node_modules
#dist
#dist-ssr
#*.local

# Editor directories and files
#.vscode/*
#!.vscode/extensions.json
#.idea
#.DS_Store
#*.suo
#*.ntvs*
#*.njsproj
#*.sln
#*.sw?