

html {
  scroll-behavior: smooth;
  
}




/***** On déclare nos polices **********/


@font-face {
  font-family: "Handwriten";
  src: local("Handwriten-BF64e9f0118e2e7.otf"),
    url("./assets/fonts/Handwriten-BF64e9f0118e2e7.otf") format("truetype")
}


@font-face {
  font-family: "fontUtopid";
  src: local("light_sans_serif_7.ttf"),
    url("./assets/fonts/light_sans_serif_7.ttf") format("truetype")
}

@import 'tailwindcss';


@theme {
  --color-dark-utopid: #12372A;
  --color-intermediaire-utopid: #a3c3bd;
  --color-light-utopid: #defcf9b5;
  --font-utopid: fontUtopid;
  --font-handwriten: Handwriten;

}






/*
body {
  background-color: rgb(241, 245, 244);
  font-family: "policePourTout" !important;
}
  */



/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}